
<h1>Cose da portare:</h1>
<ul>
    <li>Autan	<em>1, max 2 persone.</em></li>
    <li>Crema solare <em> 2 persone.</em></li>
    <li>Doposole	una sola persona</li> 
    <li>Dentifricio	<em>max 2 persone.</em></li>
    <li>Spazzolino</li>
    <li>2,3 borracce</li>
    <li>3 magliette</li>
    <li>3 mutande</li>
    <li>3,4 paia di calzini</li>
    <li>Ciabatte</li>
    <li>Pantalone lungo spezzabile</li>
    <li>2 pantaloni corti</li>
    <li>1 leggings</li>
    <li>3 reggiseni (2 sportivi, 1 normale)</li>
    <li>Macchina fotografica digitale</li>
    <li>Kodak</li>
    <li>GoPro</li>
    <li>Cappello</li>
    <li>Shampoo grande<em>1, max 2 persone.</em></li>
    <li>Balsamo	una sola persona</li>
    <li>Bagnoschiuma	una sola persona</li>
    <li>Sapone di marsiglia (saponetta per lavare i vestiti) <em>1 persona.</em></li>
    <li>Mollette per i panni una sola persona</li>
    <li>Pettine	una sola persona</li>
    <li>spazzola</li>
    <li>elastici trecce	una sola persona</li>
    <li>Deodorante</li>
    <li>Crema viso</li>
    <li>Mascara</li>
    <li>Olio denso</li>
    <li>Guida</li>
    <li>Oki</li>
    <li>Tachipirina</li>
    <li>Cerotti vesciche</li>
    <li>Polase</li>
    <li>Sacco lenzuolo</li>
    <li>Copri zaino</li>
    <li>Kway</li>
    <li>Sabotatore	una sola persona</li>
    <li>Carte briscola	una sola persona</li>
    <li>Carte scala quaranta una sola persona</li>
    <li>1 Felpa</li>
    <li>caricatore</li>
    <li>occhiali da sole</li>
    <li>costume</li>
    <li>salviettone in microfibra</li>
    <li>portafoglio</li>
    <li>power bank</li>
    <li>cuffie</li>
    <li>penna</li>
    <li>credenziale</li>
    <li>green pass</li>
    <li>gel disinfettante	una sola persona</li>
    <li>Acqua ossigenata	una sola persona</li>
    <li>cerotti normali</li>
    <li>cerotti vesciche</li>
    <li>elastici capelli</li>
    <li>Pigiama (per chi vuole/chi lo usa)</li>

</ul>
