<h1>Cose da portare:</h1>
<p>Guardare il file word</p>
<a class="btn btn-outline-success" aria-current="page" 
      href="https://docs.google.com/document/d/1OnmWj84uD3Ny-MRlhksjvpyqCHGOZyJnQiQaR8w1awE/edit?usp=sharing">Le Cose da portare</a>
<div>
<ul  class="list-group list-group-light list-group-small">
    <li class="list-group-item">Autan	<em>1, max 2 persone.</em></li>
    <li class="list-group-item">Crema solare <em> 2 persone.</em></li>
    <li class="list-group-item">Doposole/li> 
    <li class="list-group-item">Dentifricio	<em>max 2 persone.</em></li>
    <li class="list-group-item">Spazzolino</li>
    <li class="list-group-item">2,3 borracce</li>
    <li class="list-group-item">3,4 magliette</li>
    <li class="list-group-item">3,4 mutande</li>
    <li class="list-group-item">3,4 paia di calzini</li>
    <li class="list-group-item">Ciabatte</li>
    <li class="list-group-item"style="background-color:red" >Pantalone lungo spezzabile</li>
    <li class="list-group-item">2 pantaloni corti</li>
    <li class="list-group-item" style="background-color:red">1 leggings</li>
    <li class="list-group-item" style="background-color:red">3 reggiseni (2 sportivi, 1 normale)</li>
    <li class="list-group-item" style="background-color:red">Macchina fotografica digitale</li>
    <li class="list-group-item" style="background-color:red">Kodak</li>
    <li class="list-group-item" style="background-color:red">GoPro</li>
    <li class="list-group-item">Cappello</li>
    <li class="list-group-item">Shampoo grande<em>1, max 2 persone.</em></li>
    <li class="list-group-item" style="background-color:red">Balsamo	una sola persona</li>
    <li class="list-group-item">Bagnoschiuma	una sola persona <em>1, max 2 persone.</em></li>
    <li class="list-group-item">Sapone di marsiglia (saponetta per lavare i vestiti) <em>1 persona.</em></li>
    <li class="list-group-item">Mollette per i panni <em>1 persona.</em></li>
    <li class="list-group-item" style="background-color:red">Pettine</li>
    <li class="list-group-item" style="background-color:red">spazzola</li>
    <li class="list-group-item" style="background-color:red">elastici trecce</li>
    <li class="list-group-item" style="background-color:red">Deodorante</li>
    <li class="list-group-item" style="background-color:red">Crema viso</li>
    <li class="list-group-item" style="background-color:red">Mascara</li>
    <li class="list-group-item">Guida</li>
    <li class="list-group-item">Oki</li>
    <li class="list-group-item">Tachipirina</li>
    <li class="list-group-item">Cerotti vesciche</li>
    <li class="list-group-item">Polase</li>
    <li class="list-group-item">Copri zaino</li>
    <li class="list-group-item">Kway</li>
    <li class="list-group-item">Carte briscola</li>
    <li class="list-group-item">Carte scala quaranta</li>
    <li class="list-group-item">1 Felpa</li>
    <li class="list-group-item">Caricatore telefono</li>
    <li class="list-group-item">Occhiali da sole</li>
    <li class="list-group-item">Costume (per Monte di Fo')</li>
    <li class="list-group-item">Salviettone in microfibra</li>
    <li class="list-group-item">Portafoglio</li>
    <li class="list-group-item">Powerbank</li>
    <li class="list-group-item">Cuffie</li>
    <li class="list-group-item">Penna</li>
    <li class="list-group-item">Credenziale <em>(Sara)</em></li>
    <li class="list-group-item">Green pass (non si sa mai)</li>
    <li class="list-group-item">Gel disinfettante	<em>1, max 2 persone.</em></li>
    <li class="list-group-item">Acqua ossigenata<em>1 persona.</em></li>
    <li class="list-group-item">Cerotti normali</li>
    <li class="list-group-item">Cerotti vesciche</li>
    <li class="list-group-item" style="background-color:red">Elastici capelli</li>
    <li class="list-group-item">Pigiama</li>

</ul>
  <div>Poi ovviamente ciascuno fa come vuole.</div>
</div>