<h1>Tabella singoli</h1>
<table class="table table-dark table-sm table-striped" >
  <thead>
    <caption>{{title}}</caption>
    <tr>
      <th>Città</th>
      <th>
       <a style="color:white" href="https://www.booking.com/hotel/it/resart-iacomus.it.html">Bologna</a> 
      </th>
      <th>
        <a style="color:white" href="https://www.airbnb.it/users/show/200124904">Monte Adone</a> 
      </th>
      <th>
        <a style="color:white" href="https://www.bebromani.it/contatti">Madonna dei F.</a> 
      </th>
      <th>
        <a style="color:white" href="http://www.ilsergente.it/contacts">Monte di Fo'</a> 
      </th>
      <th>
        <a style="color:white" href="https://www.affittacamereviadeglidei.it">San Piero</a> 
      </th>
      <th>
        <a style="color:white" href="https://www.locandadibivigliano.com/">Bivigliano</a> 
      </th>
      <th>
        <a style="color:white" href="https://www.locandadibivigliano.com/">Firenze</a>
      </th>
      <th>Totale</th>
      <th>Pagato</th>
      <th>Da pagare</th>
    </tr>
  </thead>
  <tbody>
    <tr app-persona *ngFor="let persona of persone" id="{{persona.id}}" [persona-data]="persona">

    </tr>
  </tbody>
  
  </table>

<!--   <th>Città</th>
  <th>Amarildo</th>
  <th>Elisabetta</th>
  <th>Virginia</th>
  <th>Gabriele</th>
  <th>Federico</th>
  <th>Sara</th>
  <th>Alex</th>
  <th>Axel</th> -->